* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  font-family: 'Open Sans Variable', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;

    a {

      text-transform: uppercase;
      color: black;
      text-decoration: none;
      padding: 1rem
    }
  }
}

main {

  background-color: black;

  h3 {

    display: flex;
    align-items: center;
    color: white;
    min-height: 80px;

  }

  nav {

    background-color: rgb(21, 106, 224);


    ul {

      padding: 2rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {

        display: flex;
        align-items: center;

        img {
          width: 20%;
        }


        a {
          text-transform: uppercase;
          text-decoration: none;
          color: white;

          padding: 1rem;

        }
      }
    }
  }
}

footer {

  display: flex;
  justify-content: space-between;
  background-image: url(./assets/img/footer-bg.jpg);
  background-size: cover;

  .container {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }



  h3 {
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
  }


  a {
    padding: 0.5rem;
    line-height: 1px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: lighter;
    color: grey;
  }






}